<!-- {{ define "main" }}
{{ .Content }}
{{- partial "posts.html" . -}}
{{ end }} -->

<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4393020588235547"
     crossorigin="anonymous"></script>
  <meta name="yandex-verification" content="1ca99205a7d0e813" />
  <meta name="google-adsense-account" content="ca-pub-4393020588235547">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MML6FZSZ');</script>
  <!-- End Google Tag Manager -->
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  {{ template "_internal/schema.html" . }}
  <meta property="og:image" content="{{ .Params.Thumbnail }}" />
  <meta property="og:image:width" content="{{ .Params.Width }}" />
  <meta property="og:image:height" content="{{ .Params.height }}" />
  <meta property="og:image:type" content="image/jpeg" />
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <link rel="icon" href="/images/favicon32x32-01.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/css/style.css" rel="stylesheet" type="text/css" />

</head>

<body>
  
  {{ partial "nav.html" . }}

  <div class="container-fluid konten">
    <div class="row g-0">
      <div class="col-md-8">
        <img
          src='{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}'
          class="card-img-top" alt="...">
        <div style="position:absolute; top:140px; left:20px;">
          {{ range .Params.tags }}
          <button class="btn btn-outline-success">{{ . }}</button>
          {{ end }}
        </div>
        <h1 class="konten">{{ .Title }}</h1>
        <div class="">
          <img src="/images/navbar%20image%20300x150.png" class="rounded-circle" width="32"
          height="32" style="margin-right: 10px;"><small>Admin &#183; {{ .Date.Format "02-01-2006" }}</small>
        </div>
        <article class="konten">
          {{ .Content }}
        </article>
      </div>
      <div class="col-md-4">

        <div class="sidearticle">
          
          <div class="desktop">
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            {{ range . }}
            <div class="card mb-3" style="max-height: 100px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src='{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}'
                    class="img-fluid rounded-start" style="height: 100px;" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>

                  </div>
                </div>
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
          
          <!-- end desktop -->
          <div class="mobile">
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            {{ range . }}
            <div class="card" style="margin-top:10px">
              <img
                src='{{ if eq .Params.Image "" }}https://placeholder.pics/svg/320x160{{else}}{{ .Params.Image}}{{end}}'
                class="card-img-top" alt="...">
              <div class="tags">

                {{ range .Params.tags }}
                <span class="badge bg-secondary">{{ . }}</span>
                {{ end }}
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                <p class="card-text">{{ .Description }}</p>
                <a href="#" class="btn btn-primary">Baca</a>
              </div>
            </div>
            {{ end }}
            {{ end }}
          </div>
          <!-- end mobile -->
        </div>

          </div>


        </div>

      </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

  {{ partial "footer.html" . }}

</html>
